*.gem
*.rbc
.DS_Store
.bundle
.config
.rubocop-*
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/examples.txt
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
TODO.txt
